* {
    font-family: Verdana, Arial, serif;
}
h1 {
    clear: both;
}

div {
    display: block;
    margin: auto;
    text-align: center;
    list-style-position: inside;
}

ul {
    padding-left: 0px;
}

