* {
    font-family: Verdana, Arial, serif;
}
h1 {
    clear: both;
}

div {
    display: block;
    margin: auto;
    text-align: center;
    list-style-position: inside;
}

ul {
    padding-left: 0px;
}

em {
    background-color: yellow;
}

.home {
    background-color: aqua;
    color: white;
    padding: 6px 12px;
}